* {
    margin: 0;
    padding: 0;
}
body {
    margin-left: 1vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:  #78098E30;
    color: black;
}
.both {
    display: flex;
    margin-top: 5vh;
}
.one {
    margin-left: 150vh ;
}
.three {
    display: flex;
}
.name {
    margin-left:150vh ;
}
li {
    list-style-type: none;
}
input {
    border: none;
    border-bottom: 1px solid black;
    color: black;
}
.check {
    margin-left: 20vh;
}
button {
    margin-left: 18vh;
    padding: 1vh;
    background-color: rebeccapurple;
    color: white;
    border-radius: 2vh;
}
a {
    color: white;
    text-decoration: none;
}