* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Geometr212 BkCn BT;
    background:  #78098E30;
    color: black;
}
.all {
    display: flex;
}
.img {
    display: 50%;
    margin-top: 10vh ;
}
.body {
    display: 50%;
    margin-top: 20vh;
}
h1 {
   color: #8D8787;
}
p {
    margin-top: 8vh;
    font-size: 2vh;
    color: #8D8787;
}
button {
    margin-left: 25vh;
    margin-top: 24vh;
    padding: 2vh;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5vh;
}

#message {
    height: fit-content;
    width: fit-content;
    margin: 3% auto;
}